[package]
name = "todomvc-moxie"
description = "TodoMVC clone with moxie-dom"
version = "0.1.0"
edition = "2018"
license-file = "../../../../LICENSE-MIT"
repository = "https://github.com/anp/moxie.git"

[lib]
crate-type = [ "cdylib" ]

[dependencies]
console_log = "0.1.2"
moxie-dom = { path = "../../" }
tracing = { version = "^0.1", features = [ "log" ] }
wasm-bindgen = "0.2"
