build --@rules_rust//rust/settings:clippy.toml=//:clippy.toml
build --aspects=@rules_rust//rust:defs.bzl%rust_clippy_aspect
build --output_groups=+clippy_checks

# FIXME find a way to do this only in CI?
build --@rules_rust//rust/settings:rustfmt.toml=//:rustfmt.toml
build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect
build --output_groups=+rustfmt_checks
