on: push

jobs:
  main:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    env:
      WASM_PACK_CACHE: ~/.cargo/wasm-pack
    steps:
    - uses: actions/checkout@master

    # WALL'O'CACHE!
    - name: cache cargo registry
      uses: actions/cache@v1
      with:
        path: ~/.cargo/registry
        key: ${{ runner.os }}-cargo-registry-${{ hashFiles('**/Cargo.lock') }}
    - name: cache cargo index
      uses: actions/cache@v1
      with:
        path: ~/.cargo/git
        key: ${{ runner.os }}-cargo-index-${{ hashFiles('**/Cargo.lock') }}
    - name: wasm-pack cache
      uses: actions/cache@v1
      with:
        path: ~/.cargo/wasm-pack
        key: ${{ runner.os }}-wasm-pack-${{ hashFiles('**/Cargo.lock') }}
    - name: cache ofl target dir
      uses: actions/cache@v1
      with:
        path: ofl/target
        key: ${{ runner.os }}-ofl-target-dir-${{ hashFiles('ofl/Cargo.lock') }}
    - name: cache moxie target dir
      uses: actions/cache@v1
      with:
        path: target
        key: ${{ runner.os }}-target-dir-${{ hashFiles('Cargo.lock') }}

    # tests
    - run: cargo test-core
    - run: cargo test-dom-lib
    - run: cargo test-ssr-example
      # TODO(https://github.com/anp/moxie/issues/37)
      # run: cargo test-dom-drivertest

    # examples
    - run: cargo build-dom-hacking
    - run: cargo build-dom-todo

    # docs
    - run: cargo docs-all
    - run: cargo docs-ofl

    - run: cargo build-website

    - name: deploy preview
      if: runner.os == 'Linux'
      run: npx netlify-cli deploy

    - name: promote website to prod, ensure crates published
      if: github.ref == 'refs/heads/master' && runner.os == 'Linux'
      run: |
        npx netlify-cli deploy --prod
        cargo login ${{ secrets.CARGO_API_TOKEN }}
        cargo ofl published

  fmt:
    runs-on: ubuntu-latest
    steps:
    - run: rustup component add rustfmt
    - run: cargo fmt -- --check
    - run: cargo fmt-ofl --check
