on: push
jobs:
  main:
    strategy:
      matrix:
        os: [ubuntu-18.04, windows-2019]
        # os: [macOS-10.14, ubuntu-18.04, windows-2019]

    runs-on: ${{ matrix.os }}
    
    steps:
    # - name: rustup
    #   if: matrix.os == 'macOS-10.14'
    #   run: |
    #     curl https://sh.rustup.rs -sSf | sh -s -- -y
    #     echo 'export PATH="$PATH:$HOME/.cargo/bin"' >> $HOME/.bashrc

    - name: checkout
      uses: actions/checkout@master

    - name: deps
      run: |
        cat $HOME/.bashrc || true
        echo $PATH
        rustup component add rustfmt clippy
        rustup target add wasm32-unknown-unknown
        cargo install cargo-script

    - name: core
      run: cargo test-core

    # - name: dom
    #   run: |
    #     cargo check-dom-lib
    #     cargo build-dom-hacking
    #     cargo build-dom-todo

    - name: formatting
      run: |
        cargo fmt -- --check
        cargo fmt-scripts --check

    - name: docs
      run: cargo docs-all

    - name: clippy
      run: |
        cargo clippy-core
        cargo clippy-dom
