on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
jobs:
  ofl:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@master
    - uses: actions/cache@v2
      with:
        key: ${{ runner.os }}-ofl-${{ hashFiles('ofl/Cargo.lock') }}-${{ hashFiles('rust-toolchain')}}
        path: |
          ~/.cargo/git
          ~/.cargo/registry
          ofl/target/release

    - run: cargo build-times --release
      working-directory: ofl
    - name: archive build timings
      uses: actions/upload-artifact@v2
      with:
        name: ofl-build-times
        path: "ofl/cargo-timing.html"

    - uses: actions/upload-artifact@v2
      with:
        name: ofl-timing-${{ runner.os }}
        path: ofl/cargo-timing.html
    - uses: actions/upload-artifact@v2
      with:
        name: ofl-${{ runner.os }}
        path: ofl/target/release/ofl*

  coverage:
    needs: ofl
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@master
    - uses: actions/download-artifact@v2
      with:
        name: ofl-${{ runner.os }}
        path: bin/
    # TODO(actions/download-artifact#14) undo hack
    - run: chmod +x bin/ofl
      if: runner.os != 'Windows'

    - run: cargo generate-lockfile
    - uses: actions/cache@v2
      with:
        key: ${{ runner.os }}-coverage2-${{ hashFiles('Cargo.lock') }}-${{ hashFiles('rust-toolchain')}}
        path: |
          ~/.cargo/git
          ~/.cargo/registry
          target

    # collect ofl coverage with the root target dir to get into the same report
    - run: bin/ofl coverage collect test-ofl
      env:
        CARGO_TARGET_DIR: target/
    - run: bin/ofl coverage collect test-core
    - run: bin/ofl coverage collect test-core-doc
    - run: bin/ofl coverage collect test-dom
    - run: bin/ofl coverage collect test-dom-doc
    - run: bin/ofl coverage report
    - run: bin/ofl coverage cleanup

    - uses: codecov/codecov-action@v1
      with:
        file: ./target/coverage/lcov.info

  dom:
    needs: ofl
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@master
    - uses: actions/download-artifact@v2
      with:
        name: ofl-${{ runner.os }}
        path: bin/
    # TODO(actions/download-artifact#14) undo hack
    - run: chmod +x bin/ofl
      if: runner.os != 'Windows'

    - run: cargo generate-lockfile
    - uses: actions/cache@v2
      with:
        key: ${{ runner.os }}-dom3-${{ hashFiles('Cargo.lock') }}-${{ hashFiles('rust-toolchain')}}
        path: |
          ~/.cargo/git
          ~/.cargo/registry
          target
    
    - run: cargo test-augdom
    - run: cargo test-dom-lib-browser
    - run: cargo test-dom-hacking
    - run: cargo test-dom-todo
    - run: cargo test-dom-drivertest

  website:
    needs: ofl
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@master
    - uses: actions/download-artifact@v2
      with:
        name: ofl-${{ runner.os }}
        path: bin/
    # TODO(actions/download-artifact#14) undo hack
    - run: chmod +x bin/ofl
      if: runner.os != 'Windows'

    - run: cargo generate-lockfile
    - uses: actions/cache@v2
      with:
        key: ${{ runner.os }}-moxie-${{ hashFiles('Cargo.lock') }}-${{ hashFiles('rust-toolchain')}}
        path: |
          ~/.cargo/git
          ~/.cargo/registry
          ofl/target/doc
          target
    
    - run: cargo build-dom-hacking
    - run: cargo build-dom-todo
    - run: cargo docs-all
    - run: cargo docs-ofl
    - run: bin/ofl website build target/website
    - uses: actions/upload-artifact@v2
      if: runner.os == 'Linux'
      with:
        name: website
        path: target/website

  fmt:
    needs: ofl
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions/download-artifact@v2
      with:
        name: ofl-${{ runner.os }}
        path: bin/
    # TODO(actions/download-artifact#14) undo hack
    - run: chmod +x bin/ofl
    - run: bin/ofl fmt --check

  clippy:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@master
    - run: rustup component add clippy
    - run: cargo clippy-ofl
    - run: cargo clippy-core
    - run: cargo clippy-dom

  publish:
    needs: [clippy, coverage, dom, fmt, ofl, website]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions/download-artifact@v2
      with:
        name: ofl-${{ runner.os }}
        path: bin/
    # TODO(actions/download-artifact#14) undo hack
    - run: chmod +x bin/ofl
    - uses: actions/download-artifact@v2
      with:
        name: website
        path: target/website
    - name: dry run website
      # only run this for PRs from upstream repo itself because it needs the token
      if: github.ref != 'refs/heads/main' && github.repository == 'anp/moxie'
      run: npx netlify-cli deploy --auth ${{ secrets.NETLIFY_AUTH_TOKEN }}
    - name: promote website to prod, ensure crates published
      if: github.ref == 'refs/heads/main'
      run: |
        npx netlify-cli deploy --prod --auth ${{ secrets.NETLIFY_AUTH_TOKEN }}
        cargo login ${{ secrets.CARGO_API_TOKEN }}
        bin/ofl published
        git push origin --tags
